@{
    ViewData["Title"] = "Hakkımda";
}

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About</h2>
                @*<p>
                    I'm working on software development along with my structural design engineering studies.
                </p>*@
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="/img/IMG-60581.JPG" height="300" class="rounded-circle" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content ">
                    <h3 class="mt-3">Software Developer (MCSD) &amp; Structural Design Engineer</h3>
                    <br>
                    @*<p class="fst-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.
                        </p>*@
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-rounded-right "></i> <strong>Birthday:</strong> 17 January 1994</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www.abdullahyucel.com</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> İstanbul, TURKEY</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Driving Licence:</strong> Class B</li>

                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 29</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Master</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> abdullahyuucel@gmail.com</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Military Service:</strong> Completed</li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Skills</h2>


                <p>You can reach my skills in software development and structural design engineering from the table below.</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6">

                    <h2>Software Development</h2>
                    <div class="progress">
                        <span class="skill">C# <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress">
                        <span class="skill">ASP.NET CORE MVC <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress">
                        <span class="skill">WEB API <i class="val">50%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress">
                        <span class="skill">HTML <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">CSS <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <br />

                </div>

                <div class="col-lg-6">
                    <h2>Structural Design Engineering</h2>
                    <div class="progress">
                        <span class="skill">AUTOCAD <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">ETABS <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">REVIT <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress">
                        <span class="skill">MS PROJECT <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress">
                        <span class="skill">STA4CAD <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress">
                        <span class="skill">MS OFFICE <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->

    <main id="main">

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Resume</h2>
                    <p>You can reach my education information and professional work information from this section.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title">Summary</h3>
                        <div class="resume-item pb-0">
                            <h4>Abdullah Yücel</h4>
                            <p>
                                <em>
                                    I have been working as a structural design engineer for 6+ years and software development for approximately 1 year.
                                </em>
                            </p>
                            <p>
                                <ul>
                                    <li>Beşiktaş, Turkey</li>
                                    <li>abdullahyuucel@gmail.com</li>
                                </ul>
                            </p>
                        </div>

                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>
                                Microsoft Certified Solutions Developer (MCSD) Course
                            </h4>
                            <h5>2022 - 2023</h5>
                            <p><em>Infotech Academy, Istanbul, Turkey</em></p>
                            <p>

                                Between 2022 - 2023, I successfully completed my Microsoft Certified Solutions Developer (MCSD) training and was awarded a certificate of achievement.
                            </p>
                        </div>
                        <div class="resume-item">
                            <h4>
                                Faculty of Engineering &amp; Civil Engineering
                            </h4>
                            <h5>2011 - 2015</h5>
                            <p><em>Istanbul University, Istanbul, Turkey</em></p>
                            <p>
                                I completed civil engineering education between 2011-2015 and was entitled to receive a graduation certificate.
                            </p>
                        </div>
                        <div class="resume-item">
                            <h4>
                                Science High School &amp;
                                Numeric Sciences
                            </h4>
                            <h5>2007 - 2011</h5>
                            <p><em>Rize Fen Lisesi, Rize, Turkey</em></p>
                            <p>
                                Between 2007 - 2011, I successfully completed my high school term in the field of numerical sciences.
                            </p>

                        </div>
                        <h3 class="resume-title">
                            Certificates
                        </h3>
                        <div class="resume-item pb-0">
                            <h4>MCSD (Microsoft Certified Solutions Developer) Programme Certificate of Achievement  </h4>
                            <p>
                                <em>

                                    I have successfully completed my MCSD (Microsoft Certified Solutions Developer) training for about 6 months.
                                </em>
                            </p>
                            <p>
                                <ul>
                                    <li>Infotech Academy, Kadıköy, Turkey - 2022</li>
                                </ul>
                            </p>
                            <h4>European Language Portfolio</h4>
                            <p>
                                <em>

                                    I have successfully completed an english language course for about 3 months.
                                </em>
                            </p>
                            <p>
                                <ul>
                                    <li>
                                        American Cultural Association, Beşiktaş, Turkey - 2019
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4>Senior Structural Design Engineer</h4>
                            <h5>2016 - Present</h5>
                            <p>
                                <em>
                                    SIGMA ENGINEERING ~ Beşiktaş, Istanbul, Turkey
                                </em>
                            </p>
                            <p>
                                <ul>
                                    <li>
                                        Static design of reinforced concrete and masonry structures
                                    </li>
                                    <li>
                                        Examination and strengthening of existing buildings against earthquake resistance.
                                    </li>
                                    <li>
                                        Preparation of quantity, survey and tender documents for reinforced concrete, steel and masonry buildings.
                                    </li>
                                    <li>
                                        Construction site application consultancy services and project management.
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <div class="resume-item">
                            <h4>Software Developer Team Member </h4>
                            <h5>2022</h5>
                            <p><em>INFOTECH ACADEMY ~ Kadıköy, Istanbul, Turkey</em></p>
                            <p>
                                <ul>
                                    <li>
                                        I worked in the design of a web application that will serve as an e-commerce site for about 3 months.
                                    </li>

                                </ul>
                            </p>
                        </div>
                        <div class="resume-item">
                            <h4>Civil Engineering Intern </h4>
                            <h5>2014</h5>
                            <p><em>ÖZYURTLAR HOLDING  ~ Esenyurt, Istanbul, Turkey</em></p>
                            <p>
                                <ul>
                                    <li>
                                        I worked on construction site manufacturing controls and work schedules for about 3 months.
                                    </li>

                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->

        

    </main><!-- End #main -->
    @*======= Facts Section =======
        <section id="facts" class="facts">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Facts</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Clients</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Projects</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Hours Of Support</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Hard Workers</p>
                    </div>

                </div>

            </div>
        </section> End Facts Section*@
    <!-- ======= Testimonials Section ======= -->
    <!--<section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Testimonials</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>--><!-- End testimonial item -->

                    <!--<div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>--><!-- End testimonial item -->

                    <!--<div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>--><!-- End testimonial item -->

                    <!--<div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>--><!-- End testimonial item -->

                    <!--<div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>--><!-- End testimonial item -->

                <!--</div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>--><!-- End Testimonials Section -->

</main><!-- End #main -->