@{
    ViewData["Title"] = "Ana Sayfa";
}



<section id="hero" class="position-absolute">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">


        <div class="indexpic">
            <img src="/img/IMG-60581.jpg" class="indexpic " alt="">

        </div>
        <br />

        <h1 class="p-0">Abdullah Yücel</h1>
        <h2>Software Developer (MCSD),<br /> Structural Design Engineer</h2>
        <br />
        <a asp-controller="Home" asp-action="About" class="btn-about">About Me</a>
        <a asp-controller="home" asp-action="portfolio" class="btn-about">Portfolio</a>
        <a asp-controller="Blog" asp-action="BlogIndex" class="btn-about">Blog</a>


    </div>
</section><!-- End Hero -->
