@{
    ViewData["Title"] = "Ana Sayfa";
}

<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>Abdullah Yücel</h1>
        <h2>Web Developer, Structural Design Engineer</h2>
        <a asp-controller="Home" asp-action="About" class="btn-about">About Me</a>
    </div>
</section><!-- End Hero -->
