@{
    ViewData["Title"] = "Newtonsoft.Json";
}



<br />
<br />
<br />
<br />



<div class="card ms-3" style="max-width: 92%;">
    <div class="row g-0">
        <div class="col-md-12">
            <img src="~/img/Blog/Newtonsoft.png" class="img-fluid" alt="...">
        </div>
        <div class="col-md-12">
            <div class="card-body">
                <h5 class="card-title"><strong>Newtonsoft.Json library in C# programming language</strong></h5>
                <p class="card-text">Veri merkezli uygulamalarda verileri saklamak veya farklı programlama dillerine transfer etmek durumunda kaldığımızda, her programlama dilinin nesne yapısı farklı olduğu için bazı standartlar oluşturulmuştur. Bu standartlardan bir tanesi de JSON (JavaScript Object Notation) olarak belirlenmiştir. C# programlama dili içerisinde JSON denince akla ilk gelen kütüphanelerden bir tanesi Newtonsoft.Json kütüphanesidir. Serialization işlemi, bir nesneyi, depolamak veya serileştirmek amacıyla istenen formata dönüştürmek, Deserialization ise serileştirilmiş biçimdeki verilerin tekrar nesnelere dönüştürülmesi işlemidir. Newtonsoft.Json kütüphanesini kullanabilmek için projenin tasarımı esnasında NuGet üzerinden indirilmesi ve namespace olarak projeye eklenmesi gerekmektedir.</p>
                <p class="card-text"><small class="text-muted">Last updated @DateTime.UtcNow</small></p>
            </div>
        </div>
    </div>
</div>
